<nav>
    <ul class="vertical menu" style="float: left;box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2); padding-top:10px;position: absolute;background-color: white; width: 250px; height: 100%;text-align: left;">
        <div class="footer-alignment" style="border-radius: 40px; height: 50px; width: auto; background-color: #ececee; margin: 20px; padding-left: 8px">
            <img src="{{ asset('icons/user_icon.png') }}" width="40px" height="40px"/>
            <a style="color: black; margin-left: 8px" href="#">{{ app.user.username }}</a>
            <div style="position: absolute; right: 40px;"><a href="#" style="float: right;"><img src="{{ asset('icons/notif_icon.png') }}" width="20px" height="20px"/></a></div>
        </div>
        <h4><li style="text-align: center; font-weight: 500;"><a style="color: black" href="{{ path('admin') }}">Administration</a></li></h4>
        <li><a href="#">Accueil</a></li>
        <li><a href="{{ path('galleryAdmin') }}">Galerie</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Evenement</a></li>
        <li style="border-top: solid 1px lightgrey; clear: both;height: 1px; width: 75%; margin-right: auto; margin-left: auto"></li>
        <li><a style="" href="{{ path("homepage") }}">Accéder au site</a></li>
        <li><a style="margin-bottom:20px; font-weight: bold; color: red; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);" href="{{ path("logout") }}">Deconnexion</a></li>
    </ul>
</nav>