<!DOCTYPE html>
<html>
<head>
    <meta chæarset="UTF-8" />
    <title>{% block title %}Administration{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('fruxfoundation/css/foundation.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}" />
    <script type="text/javascript" src="{{ asset('fruxfoundation/js/vendor/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fruxfoundation/js/vendor/what-input.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fruxfoundation/js/foundation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fruxfoundation/js/app.js') }}"></script>
</head>
<body style="background-color: #e4e4e6">
{% include "menuAdmin.html.twig" %}
{% block body %}
    <main>
        <div style="height: 100%; width: auto;">
            <div style="text-align: center; padding-top: 15px"><h2>Tableau de bord</h2></div>
            <div class="row" style="display: flex; padding-top: 50px; height: auto">
                <div class="columns">
                    <div style="font-size: 30px"> Commentaires récents - <a href="#" style="font-size: 18px;">Afficher tous les commentaires</a></div>
                    <table class="stack" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
                        <thead>
                        <tr>
                            <th width="50">Pseudo</th>
                            <th width="250">Mail</th>
                            <th>Commentaires</th>
                            <th width="100">Type</th>
                            <th width="100">Titre</th>
                            <th width="60">Date</th>
                            <th width="100">Opérations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Thomas</td>
                            <td>thomas.orange@gmail.com</td>
                            <td>This is longer content Donec id elit non mi porta gravida at eget metus. This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                            <td>Tableau</td>
                            <td>"Couché de soleil" <a>Voir</a></td>
                            <td>12/10/2017 18:30</td>
                            <td>
                               <button type="button" style="color:dodgerblue">Répondre</button>
                                <button type="button" style="color:red">Supprimer</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="font-size: 30px"> Demandes de tableau récentes - <a href="#" style="font-size: 18px;">Afficher toutes les demandes</a></div>
                    <table class="stack" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
                        <thead>
                        <tr>
                            <th width="50">Pseudo</th>
                            <th width="250">Mail</th>
                            <th>Message</th>
                            <th width="150">Tableau</th>
                            <th width="60">Date</th>
                            <th width="100">Opérations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Thomas</td>
                            <td>thomas.orange@gmail.com</td>
                            <td>This is longer content Donec id elit non mi porta gravida at eget metus. This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                            <td><a>Voir le tableau</a></td>
                            <td>12/10/2017 18:30</td>
                            <td>
                                <button type="button" style="color:dodgerblue">Répondre</button>
                                <button type="button" style="color:red">Supprimer</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>

