<!DOCTYPE html>
<html>
<head>
    <meta chæarset="UTF-8" />
    <title>{% block title %}Martine Heidet{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ asset('fruxfoundation/css/foundation.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('foundation-icons/foundation-icons.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}" />
    <script type="text/javascript" src="{{ asset('fruxfoundation/js/vendor/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fruxfoundation/js/vendor/what-input.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fruxfoundation/js/foundation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fruxfoundation/js/app.js') }}"></script>
</head>
<body>
    {% include "menu.html.twig" %}
    {% block body %}
        <div style="font-size: 40px; text-align: center; margin-top: 20px">Mes dernières créations</div>
        <div class="slider">
            <img src="tableau-1.png" style="height:400px"/>
            <img src="tableau-2.png" style="height:400px"/>
            <img src="tableau-3.png" style="height:400px"/>
            <img src="tableau-4.png" style="height:400px"/>
            <img src="tableau-1.png" style="height:400px"/>
            <img src="tableau-2.png" style="height:400px"/>
        </div>
        <div for="slider" style="width: fit-content; height: 100px; margin-right: auto;margin-left: auto">
            <input type="radio" name="slide_switch" id="id1" checked="checked"/>
            <label for="id1">
                <img src="tableau-1.png" style="max-height: 100px"/>
            </label>
            <input type="radio" name="slide_switch" id="id2"/>
            <label for="id2">
                <img src="tableau-2.png" style="max-height: 100px"/>
            </label>
            <input type="radio" name="slide_switch" id="id3"/>
            <label for="id3">
                <img src="tableau-3.png" style="max-height: 100px"/>
            </label>
            <input type="radio" name="slide_switch" id="id4"/>
            <label for="id4">
                <img src="tableau-4.png" style="max-height: 100px"/>
            </label>
            <input type="radio" name="slide_switch" id="id5"/>
            <label for="id5">
                <img src="tableau-1.png" style="max-height: 100px"/>
            </label>
            <input type="radio" name="slide_switch" id="id6"/>
            <label for="id6">
                <img src="tableau-2.png" style="max-height: 100px"/>
            </label>
        </div>


    {% endblock %}
    <!-- include "footer.html.twig" -->
    {% block javascripts %}{% endblock %}
</body>
</html>